body, html {
    height: 100%;
}

body {
    min-height: 100vh; /* Minimum magasság legyen a teljes nézetmagasság */
    display: flex;
    flex-direction: column;
}

/* List group item hover effect */
.list-group-item {
    border-radius: 10px;
    margin-bottom: 5px;
    transition: all 0.3s ease;
}

.list-group-item:hover {
    background-color: #f7f7f7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Accordion body custom styling */
.custom-body {
    padding: 15px;
    background: #f1f1f1;
    border-left: 5px solid #28a745;
    border-right: 5px solid #28a745;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Smooth transition for the collapse */
.accordion-collapse {
    transition: all 0.5s ease;
}

/* Styling for the collapsed section */
.accordion-body code {
    background-color: #e9ecef;
    padding: 2px 5px;
    border-radius: 3px;
}



/* Hover effect on the accordion body */
.accordion-body:hover {
    background-color: #f8f9fa;
}

/* Fade out effect for <small> tag */
.fading-text {
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    -webkit-background-clip: text;  /* Applies the gradient to the text itself */
    color: transparent;  /* Makes the text itself transparent */
    transition: background 0.5s ease;  /* Smooth transition for the background */
}

/* On hover, the text fades out from left to right */
.list-group-item[aria-expanded="true"] .fading-text {
    background: transparent;
}

.container {
    flex: 1;
}